<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
   <h1>Freelance</h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    <div class="navbar-item">
    <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Find services">
  </div>
  <div class="control">
    <a class="button is-warning">
      Search
    </a>
  </div>
</div>
    </div>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">Post Gig</a>
      <a class="navbar-item">Browse Gigs</a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-item">Ruky Adjeks</a>
      <div class ="navbar-dropdown">
      <a href="" class="navbar-item">Dashboard</a>
      <a href="" class="navbar-item">Profile</a>
      <hr class="navbar-divider">
      <a href="" class="navbar-item">Log out</a>
      </div>
      </div>
    </div>
  </div>
</div>
</nav>

<script>
$(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});

</script>