<div class="step-content <%= 'is-active' if @step == 2 %>">
  <div class="field">
    <div class="control">
      <div class="columns has-text-centered">
            <div class="field">
                <label class="label">Prix</label>
                <%= f.number_field :price, class: "input" %>
            </div>
            <div class="field">
            
           <!--  <div class="field is-grouped is-grouped-centered m-t-25">
        <a href="" class="button is-light">Annuler</a>
           <%= f.submit "Enregistrer & continuer", class: "button is-primary" %>
         </div> -->
    </div>
      </div>
    </div>
  </div>
</div>