<div class="step-content <%= 'is-active' if @step == 3 %>">
  <div class="field">
    <label for="" class="label">Description</label>
    <%= f.rich_text_area :description, rows: 50, cols: 50 %>


  </div>
</div>