<div class="step-content <%= 'is-active' if @step == 1 %>">
    <div class="field">
        <label class="label">Titre de l&#39;annonce</label>
        <%= f.text_area :title, autocomplete: "title", class: "textarea" %>
      </div>
       <div class="field">
        <label class="label">Catégorie</label>
        <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }, selected: @gig.category_id)) %>
      </div>
      <div class="field">
            
           <!--  <div class="field is-grouped is-grouped-centered m-t-25">
        <a href="" class="button is-light">Annuler</a>
           <%= f.submit "Enregistrer & continuer", class: "button is-primary" %>
         </div> -->
    </div>